{% extends "admin/base.html.twig" %}

{% block title %}Utilisateurs{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="info" style="height: 130px; margin-top: 30px;">
        <div id="traitVertical" class="col-3">
            <h5 id="OPSNName"></h5>
            <h2 id="titreColOPSN">Utilisateurs</h2>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModaleUtilisateurs" tabindex="-1" aria-labelledby="ModaleUtilisateursLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModaleUtilisateursLabel">Modifier un utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ path('admin_user_edit') }}" id="s69420" method="post">
                    <div id="form-modale"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModaleAjoutUtilisateurs" tabindex="-1" aria-labelledby="ModaleAjoutUtilisateursLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModaleAjoutUtilisateursLabel">Ajouter un utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ path('admin_user_add') }}" method="post">
                    <div id="form-modale-ajout"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end col-12">
    <button id="add"><i class="fas fa-plus-circle"></i> Utilisateur</button>
</div>

<div class="traitHorizontal"></div>

<div class="px-3" id="gridContainer" style="margin-top: 11px;"></div>

<script src="{{ asset('admin/js/utilisateursOPSN.js') }}"></script>
{% endblock %}
