{% extends "admin/base.html.twig" %}

{% block title %}Gestion des questions{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="info" style="height: 130px; margin-top: 30px;">
        <div id="traitVertical" class="col-3">
            <h2>Questions</h2>
        </div>

    </div>
</div>

<div class="row p-4">
    <div class="col-md-12">
        {% for category in categories %}
            <div class="mt-4">
            <h3>{{category.name}}</h3>
                <ul class="list-group">
                {% for question in category.questions %}
                    <li class="list-group-item">
                        <div>{{ question.question }}</div>
                        <a href="{{ path('admin_question_edit', {'id': question.id}) }}"><img src="{{ asset('img/Modifier.svg') }}" alt=""></a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
