{% extends 'security/base.html.twig' %}
{% form_theme requestForm with ['form_div_layout.html.twig'] only %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {{ form_start(requestForm) }}
        <p class="text-center fs mt-4">Demander la réinitialisation de votre mot de passe</p>
        <fieldset class="formRow mb-3">
            <div class="formRow--item col-12">
                <label for="username_input_login" class="formRow--input-wrapper js-inputWrapper">
                    {{ form_widget(requestForm.username, { 'attr': {'class': 'formRow--input js-input form-input', 'placeholder': 'Identifiant'}, 'label_attr': {'class': 'formRow--input-wrapper js-inputWrapper'}}) }}
                </label>
            </div>
        </fieldset>

        <div>
            <p class="text-center fs mt-4 col-9">
            <small>
                Entrez votre nom d'utilisateur et nous vous enverrons un courriel pour procéder à la réinitialisation de votre mot de passe.
            </small>
            </p>
        </div>

        <div class="col-7">
            <button type="submit" class="d-block btn btn-blueAdico rounded-pill white mt-10 col-12 col-lg-12 fs">Envoyer le courriel</button>
        </div>
    {{ form_end(requestForm) }}
{% endblock %}
