/* SCROLL */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4D4F5C;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #41434d;
}

/* ACCUEIL */

.info {
    color: #fff;
    background-color: #08433D;
    border-radius: 15px;
    padding: 20px;
}

#progress {
    position: absolute;
    right: 15px;
    top: 5px;
}

.progress-ring__circle {
    /* transition: 1.5s stroke-dashoffset; */
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progressContent {
    position: absolute;
    font-size: 13px;
    text-align: center;
}

#stat {
    color: #08453F;
    margin-top: 15px;
    padding: unset;
}

#titreStat {
    display: flex;
    justify-content: space-between;
}

#trait {
    border-bottom: 2px solid #08453F;
    width: -webkit-fill-available;
    margin: 0 20px;
}

#btnPrint {
    background-color: #08453F;
    border-color: #08453F;
    border-radius: 6px;
    height: 33px;
    width: 33px;
}

#graph {
    background-color: #fff;
    border-radius: 10px;
    margin: 15px 0;
}

#dropdownMenuButton1 {
    background-color: #F0F0F0;
}

.dx-checkbox-checked .dx-checkbox-icon {
    background-color: #fff !important;
    border: 1px solid #333 !important;
}

.dx-checkbox-indeterminate .dx-checkbox-icon {
    background-color: #fff !important;
    border: 1px solid #333 !important;
}

#recommandations, .div1 {
    padding-right: 0px;
    padding-left: 30px;
}

#recommandations {
    justify-content: space-around;
}

@media (max-width: 1199px)  {
    .div1 {
        margin-top: 15px;
    }
}

.reco {
    background-color: #E9FBF9;
    color: #08453F;
    border-radius: 15px;
    height: 234px;
    margin-bottom: 15px;
}

.recoTitre {
    font-weight: bold;
}

.progressReco {
    top: 30px;
    left: 45px;
}

.pReco {
    margin-top: 15px;
    width: min-content;
}

.fa-xl {
    line-height: 0.8em !important;
}

.fa-clipboard {
    width: 24px;
}

.recoNumber {
    font-size: 24px;
    line-height: 1.4rem;
    margin: 0 15px;
}

.fleche {
    color: #12857A;
    padding: 0 10px 10px 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.tous {
    background-color: #08433D;
    color: #fff;
    border-radius: 15px;
    height: 234px;
    position: relative;
}

.flecheTous {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
}

.pTous {
    padding: 45px 0;
}

@media screen and (min-width: 1200px) and (max-width: 1276px) {
    .tous, .reco {
        height: 302px;
    }
}

@media screen and (min-width: 1277px) and (max-width: 1398px) {
    .tous, .reco {
        height: 278.78px;
    }
}

@media screen and (min-width: 1399px) and (max-width: 1546px) {
    .tous, .reco {
        height: 256.39px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1386px) {
    .recoTitre {
        flex-wrap: inherit;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1257px) {
    .pReco {
        font-size: 14px;
    }
}

#recommandations, .recoTitre, .recoQuestion, .recoDispo{
    margin-right: 0px;
}

/* CATEGORIES */

.line {
    display: flex;
    width: auto;
    margin: 0 15px;
}

#titreCat {
    max-width: none;
}

@media (max-width: 700px)  {
    #titreCat {
        padding-right: 0px;
        padding-left: 0px;
    }
    #titreCat h2 {
        font-size: 1.5rem;
    }
}

.btnType {
    border: none;
    border-bottom: 1px solid #08453F;
    color: #08453F;
    font-weight: bold;
    font-size: 20px;
}

#questionReco {
    display: flex;
    padding: 15px 15px 0 15px;
}

#header {
    padding-top: 15px;
}

.textReco {
    padding: 15px 0;
}

.contenuReco {
    padding: 15px;
    background-color: #FFFFFF;
    flex: 0 0 100%;
}

.num {
    padding: 15px;
    background-color: #E9FBF9;
}

.cadreReco {
    display: flex;
    margin-bottom: 15px;
    margin-right: 45px;
    position: relative;
}

.cadreReco2 {
    display: flex;
    margin-bottom: 15px;
    margin-right: 70px;
}

.pQuestion {
    font-weight: bold;
    font-size: 20px;
}

.num2 {
    font-weight: bold;
    color: #08453F;
    text-align: center;
}

.reponse {
    display: grid;
    justify-items: center;
}

.inputRep {
    border: transparent;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.btnInfo {
    border: #08453F 2px solid;
    width: 25px;
    color: #08453F;
    background-color: transparent;
    height: 25px;
    border-radius: 50%;
}

.feature{
    position: relative;
    border-radius: 30px;
    margin: 5px;
    float: left;
    box-sizing: border-box;
    background-color: #F2F2F2;
}
  
.btnText {
    padding: 10px 30px;
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}
  
.inputRep2 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.inputRep2:checked ~ .btnText {
    border: 2px solid #08453F;
    border-radius: 30px;
}

.bouton-ecoclic {
    background-color: #08433D;
}

.sous-titre {
    color: var(--gris-fonce);
    text-transform: uppercase;
    font-size: 22px;
}

.categ {
    color: #cc4a51;
    font-size: 22px;
}

.theme {
    font-size: 20px;
}

#modif {
    background-color: #08433D;
    border: #fff solid 1px ;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    /* margin: auto;
    margin-left: 0px; */
}

@media (max-width: 800px)  {
    #progress {
        display: flex;
        justify-items: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .progressContent {
        left: auto !important;
    }
}

#divBtnParam {
    margin-top: 3.5rem;
}

.lien {
    margin-right: 15px;
}

.carre {
    width: 200px;
    height: 125px;
}

@media (max-width: 970px)  {
    #divBtnParam {
        justify-content: center;
    }
}

.cree {
    margin-right: -10px !important;
    width: 175px;
    line-height: 1.2em;
    height: 50px;
    padding: 0 !important;
    background-color: #08433D;
    border-color: #08433D;
}

.d1 {
    padding: 0px;
    text-align: center;
    width: 200px;
    display: none;
    position: absolute;
    z-index: 1000;
    background: #fff;
    margin-top: 10px;
    right: 5px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px 15px rgb(0 0 0 / 20%);
}

.head {
    padding: 0px;
    display: flex;
    margin-bottom: 10px;
}

.head .col-md-12 {
    padding-right: 1px;
    float: right;
}

.head .col-md-12 a {
    float: right;
    padding-right: 10px;
}

#d1 div p {
    color: #4D4F5C;
}

#d1 a div {
    background-color: #575A5D;
    color: white;
    border-radius: 0 0 5px 5px;
    height: 48px;
    line-height: 48px;
}

.suppr {
    width: fit-content;
    float: right;
}

.btnline {
    margin-right: -10px; 
    float: right; 
    margin-left: 20px; 
    line-height: 1.2em;
}

@media (max-width: 584px)  {
    .reduis {
        margin-top: 10px;
    }
}

.boutonA {
    float: right;
    padding: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.boutonV {
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
}

.droit {
    float: right;
    margin-bottom: calc(0.375rem + 1px);
}

.modalbtn {
    width: 150px;
    height: 50px;
    padding: 0 !important;
}

#select {
    height: 25px;
    margin-left: 15px;
    margin-top: 32px;
}

/** devextrem **/

.dx-scrollable-content, .dx-datagrid-header-panel, .dx-toolbar {
    background-color: #f2f2f2 !important;
}

.dx-checkbox-indeterminate .dx-checkbox-icon::before {
    position: absolute !important;
    display: block !important;
    width: 12px !important;
    top: 50% !important;
    margin-top: -6px !important;
    left: 50% !important;
    margin-left: -6px !important;
    content: "" !important;
    background-color: #337ab7 !important;
    border-radius: 2px !important;
    height: 12px !important;
}

.dx-texteditor.dx-editor-outlined {
    float: right;
    margin-right: 5px;
    margin-top: 15px;
}

.dx-icon-search {
    left: -5px !important;
}

.divInfo {
    position: absolute;
    background-color: #f2f2f2;
    padding: 15px;
    border: 1px solid #08433d;
    border-radius: 20px;
    z-index: 100;
    width: 50%;
    margin-left: 50px;
    margin-top: 5%;
}

.infoComplementaire {
    font-style: italic;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 25px;
    font-size: 14px;
}