{% extends "admin/base.html.twig" %}

{% block title %}Admin - Mes collectivités{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="info" style="height: 130px; margin-top: 30px;">
        <div id="traitVertical" class="col-3">
            <h5 id="OPSNName"></h5>
            <h2 id="titreColOPSN">Mes collectivités</h2>
        </div>

        <div id="progress2">
            <div id="nbCol" class="center">
                <p id="nbCol2" class="size29"></p>
                <p class="size13">collectivités engagées</p>
            </div>

            <div class="center">
                <p style="margin-bottom: 0;"><span id="moyenne" class="size29"></span>/100</p>
                <p class="size13">score moyen</p>
            </div>
        </div>
        
    </div>
</div>

<div class="px-3">
    <div id="gridContainer"></div>
</div>

<!-- Modal des reco perso -->
<div class="modal fade" id="ModaleRecoPerso" tabindex="-1" aria-labelledby="ModaleRecoPersoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModaleRecoPersoLabel">Recommandations</h5>
                <button type="button" class="close" onclick="window.location.reload();" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div id="select-question-text">Selectionner une question :</div>
                    <div id="select-question"></div>

                    <div id="select-reponse-text" hidden>Réponse(s) :</div>
                    <div id="select-reponse"></div>

                    <div id="select-reco-text" hidden>Recommandations :</div>
                    <div id="select-reco"></div>

                    <div class="btn-center">
                        <button class="btn dx-button-mode-contained dx-button-default" onclick="updateRecoPerso()" type="button">Valider</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div id="confirm"></div>

<style>
    .dx-texteditor.dx-editor-outlined{
        margin: 0;
    }

    .px-3 {
        margin-top: 11px;
    }

    .dx-datagrid-header-panel {
        border-bottom: 1px solid #08433D !important;
        margin-bottom: 6px;
    }
    
    .dx-tag-remove-button {
        display: none;
    }
</style>
<script src="{{ asset('/admin/js/collectivite.js') }}"></script>
{% endblock %}
