<h1>Conditions Générales d'utilisation</h1>
<p>La plateforme <b>L'Éco-clic</b> est editée par l'association de Développement d'échanges entre collectivités locales en matières d'informations et de communications (ci-après "<b>Déclic</b>" ou "<b>nous</b>"), une association régie par la loi du 1er juillet 1901n immatriculée sous le numéro de SIRET 881 719 736 00012 et dont le siège social est situé au Centre de Gestion de la Finance Publique Territoriale du Gers, 4 place du Maréchal Lannes - 32001 AUCH. Directeur de la publication M. Emmanuel VIVE, Président</p>
<p>Hébergeur : OVH (située 2 rue Kellermann - 59100 Roubaix (tel 0 820 698 765 - mail : support@ovh.com)</p>
<p>Les présentes Conditions générales d'utilisation ont pour objet de définir les modalités d'utilisation de la Plateforme l'Éco-clic (ci-après, indiférrement "<b>Plateforme</b>" ou "<b>Solution</b>") Mise à disposition des collectivités / structures utilisatrices (ci-après "<b>les utilisateurs</b>").</p>
<p>L'utilisation de la Plateforme est subordonnée à l'acceptation, sans réserve, par l'Utilisateur (tel que défini ci-dessous) des présentes Conditions générales. L’acceptation desdites Conditions générales est formalisée par le fait de cocher une case lors de la création d’un compte utilisateur.</p>
<p>En cas de modification des présentes en fonction des mises à jour de la Plateforme, de l’évolution de la législation ou de la réglementation, ou pour tout autre motif jugé nécessaire, l’Utilisateur sera invité à prendre connaissance de la nouvelle rédaction et à accepter de nouveau les CGU.</p>
<p>Pour toute difficulté liée à l’utilisation de la Plateforme, contactez votre opérateur public de service numérique.</p>
<h4>Définitions</h4>
<p>À chaque fois que ces termes et expressions seront employés dans les présentes Conditions générales d’utilisation, au singulier ou au pluriel, ils auront la signification suivante : </p>
<ul>
    <li>
        <p><b>"La Solution" ou "la Plateforme" désigne</b> l’Éco-clic et le référentiel de niveau 1 et de niveau 2)</p>
    </li>
    <li>
        <p>"Conditions générales d’utilisation <b>(CGU)</b>" : désigne le présent document dont l’objet est de rendre accessible les modalités d’utilisation de la Plateforme ; </p>
    </li>
    <li>
        <p>"<b>L'Utilisateur</b>" : désigne toute personne physique, agissant en son propre nom ou pour le compte de toute personne morale de droit public ou privé à laquelle elle est rattachée dans le cadre de ses fonctions ;</p>
    </li>
    <li>
        <p>Les termes "<b>Données personnelles</b>", "<b>Responsable du Traitement</b>", "<b>Traitement</b>", revêtent les définitions données par le Règlement Général sur la Protection des Données ("<b>RGPD</b>"), qu’ils soient pris au singulier ou au pluriel. </p>
    </li>
    <li>
        <p>"<b>Opérateur public de services numérique (OPSN)</b>" désigne des structures de mutualisation informatique qui fournissent des solutions opérationnelles pour accompagner la transformation numérique des collectivités territoriales.</p>
    </li>
    <li>
        <p>"<b>L'Editeur"</b> désigne l'association Déclic et "<b>Fournisseur</b>" désigne l'OPSN compétent</p>
    </li>
</ul>
<h4>Objet du service</h4>
<p>L’ouverture de la solution aux Utilisateurs a vocation à offrir un outil d’évaluation permettant d’aider les utilisateurs à mener une démarche vers un numérique plus sobre.</p>
<h6>Fonctionnement et fonctionnalités du service</h6>
<p>Afin de mener une démarche vers un numérique plus sobre, la Solution L’éco-clic a été conçue pour permettre aux Utilisateurs (Fonctionnalités disponibles avec la V1) :</p>
<ul>
    <li>
        <p>De déterminer l’indice de maturité sobriété numérique de la structure sur la base d’un questionnaire interrogeant ses pratiques numériques ; </p>
    </li>
    <li>
        <p>D’obtenir une pré-sélection de recommandations à la suite des réponses apportées ;</p>
    </li>
    <li>
        <p>De construire un plan d’action et d’assurer le suivi de son application ;</p>
    </li>
    <li>
        <p>De partager ses données avec un Opérateur Public de Services Numériques (OPSN) en charge de son accompagnement ;</p>
    </li>
    <li>
        <p>De visualiser des statistiques portant sur les résultats obtenus et sur l’évolution de la collectivité vers un numérique plus sobre ;</p>
    </li>
    <li>
        <p>De se comparer avec les autres utilisateurs de la Solution sur la base de données agrégées. </p>
    </li>
</ul>
<h6>Disponibilité et évolutions</h6>
<p>La solution telle que définie précédemment est disponible 7 jours sur 7, 24h sur 24, sauf cas de force majeure ou indisponibilité causés par un événement suivant, sans que cette liste revête un caractère limitatif : opération de maintenance, indisponibilité des serveurs pour quelque cause que cela soit, migration des serveurs, etc.</p>
<p>Déclic se réserve la faculté de faire évoluer, de modifier ou de suspendre, sans préavis, la Plateforme pour des raisons de maintenance, de sécurité, ou pour tout autre motif jugé nécessaire.</p>
<h4>MODALITÉS D'UTILISATION DU SERVICE</h4>
<h6>Prérequis techniques</h6>
<p>L’utilisation de la Plateforme requiert une connexion et un navigateur internet.</p>
<p>Afin de garantir le bon fonctionnement de la Plateforme, il est conseillé d’utiliser la dernière version de votre navigateur.</p>
<p>Pour télécharger un navigateur pris en charge ou pour mettre à jour votre navigateur, vous pouvez cliquer sur l’un d’eux dans la liste ci-dessous et suivre les instructions correspondantes :</p>
<ul>
    <li>
        <p><u>Google Chrome</u></p>
    </li>
    <li>
        <p><u>Mozilla Firefox</u></p>
    </li>
    <li>
        <p><u>Apple Safari</u></p>
    </li>
    <li>
        <p><u>Microsoft Edge</u></p>
    </li>
</ul>
<p>Pour un fonctionnement optimal, l'affichage doit être paramétré avec une résolution minimale de 400 x 700px.</p>
<p>Il est entendu que les frais engendrés par la connexion à internet et l’utilisation de l’équipement informatique sont à la charge exclusive de l’Utilisateur.</p>
<p>Les performances de la Plateforme peuvent varier compte tenu de la qualité du réseau Internet et/ou des configurations techniques, qui sont en dehors de la maîtrise de son éditeur.</p>
<h6>Identification de "l'Utilisateur standard admin" et de l'Utilisateur standard"</h6>
<p>Le premier utilisateur de la plateforme pourra librement s’ouvrir un compte d’accès à la Plateforme. Il est qualifié « d’utilisateur admin ». Il lui reviendra ensuite de créer les Comptes utilisateurs de manière autonome, sans intervention de nos services, directement via la Plateforme. Le nombre de Comptes « utilisateurs standards » par collectivité n’est pas limité à ce jour.</p>
<p>L’Utilisateur doit indiquer comme identifiant : prénom-nom.</p>
<p>Concernant le mot de passe, la solution impose une complexité de 12 caractères dont : une minuscule, une majuscule, un chiffre et un caractère spécial. Cette complexité permet <u>aux utilisateurs de respecter les préconisations de la CNIL conformément à la Délibération n° 2022-100</u>. Le mot de passe peut aussi être composé de 14 caractères avec des majuscules, des minuscules et des chiffres. Enfin, il peut s’agir d’une phrase de passe fondée sur des mots de la langue française et contenant 7 mots. L’essentiel étant que le mot de passe choisi permette d’assurer une entropie d’au moins 80 bits.</p>
<p>De plus, l’Utilisateur est vivement encouragé à respecter les bonnes pratiques recommandées par la CNIL en matière de mot de passe <u>(recommandations de la CNIL pour créer un mot de passe robuste)</u>, et par conséquent de définir un mot de passe : </p>
<ul>
    <li>
        <p>Qui ne contienne pas d’information personnelle ou professionnelle propre à son créateur (nom d’un enfant, d’un animal de compagnie, nom de votre collectivité/structure, etc.) ;</p>
    </li>
    <li>
        <p>Propre à la plateforme;</p>
    </li>
    <li>
        <p>Demeurant individuel et confidentiel, et n’étant divulgué à personne, pour quelque raison que cela soit. Pour ce faire, il convient de ne pas le noter sur papier ou support numérique, ou encore de le pré-enregistrer sur le navigateur internet. Il convient en outre de ne pas le divulguer, que ce soit en interne ou à une personne tierce extérieure à votre organisme.</p>
    </li>
    <li>
        <p>Renouvelé systématiquement en cas de compromission suspectée ou avérée de celui-ci.</p>
    </li>
</ul>
<p>Concernant l’adresse mail attachée au Compte utilisateur, l’Utilisateur est invité à se conformer à la politique afférente définie par son organisme.</p>
<p>Il est à noter que plusieurs Utilisateurs peuvent être rattachés à une même adresse mail. Les comptes Utilisateurs propres à chacun seront dans ce cas distingués au moyen de leur identifiant. Une fois ces étapes franchies, l’Utilisateur peut se connecter et accéder à la Plateforme.</p>
<h6>Gestion des Comptes standard admin ultérieur et droits</h6>
<p>Tout compte standard administrateur dispose de droits lui permettant :</p>
<ul>
    <li>
        <p>Créer de nouveaux accès à la Plateforme;</p>
    </li>
    <li>
        <p>Supprimer des accès à la Plateforme;</p>
    </li>
    <li>
        <p>Rendre inactif les comptes;</p>
    </li>
    <li>
        <p>Gérer les droits de chaque Utilisateur rattaché à son organisme.</p>
    </li>
</ul>
<p>Il est vivement recommandé de définir au sein de la structure une gestion active des droits en :</p>
<ul>
    <li>
        <p>Identifiant des profils administrateurs (en nombre restreint) et des profils utilisateurs ;</p>
    </li>
    <li>
        <p>Prévoyant une procédure en cas de départ d’un Utilisateur de la structure, pour supprimer son accès à la Solution. A cet égard, il est à rappeler que la réutilisation de comptes préexistants est à proscrire et que de nouveaux comptes doivent être créés au besoin </p>
    </li>
    <li>
        <p>Prévoyant une revue périodique des comptes utilisateurs (une fois par an par exemple).</p>
    </li>
</ul>
<h6>Gestion des comptes OPSN administrateurs</h6>
<p>Tout compte OPSN administrateur dispose de droits lui permettant d’accéder à l’espace administrateur pour visualiser les avancées des collectivités lui étant rattachées.</p>
<p>Le compte OPSN dispose de droits lui permettant de gérer les droits des autres comptes utilisateurs de son OPSN.</p>
<h4>ENGAGEMENT ET RESPONSABILITE</h4>
<h6>Droits, obligation, responsabilité de l'éditeur et du fournisseur</h6>
<p>L’éditeur et le fournisseur veillent à mettre en œuvre tous les moyens techniques d’intervention et d’assistance en vue d’assurer un fonctionnement régulier de la plateforme L’éco-Clic.</p>
<p>Déclic s’engage à respecter les lois et règlements en vigueur relatifs à la protection de la vie privée de l’utilisateur notamment aux directives de la CNIL. Les informations nominatives déclarées par l’utilisateur de la plateforme sont destinées à Déclic et à l’OPSN et seront utilisées pour les seules nécessitées de la gestion du compte de l'utilisateur.</p>
<p>L’OPSN informe l’utilisateur final de toute problématique technique qui impactera le bon fonctionnement de la solution</p>
<p>En tant que fournisseur de la solution, l’OPSN reconnaît que Déclic peut accéder aux données des utilisateurs s'il le faut pour assurer l’utilisation de la plateforme et uniquement à cette fin.</p>
<p>Déclic s’engage à prendre toutes précautions utiles pour préserver la sécurité des données collectées auprès de l’Utilisateur et notamment empêcher qu’elles soient déformées, endommagées ou que des tiers non autorisés y aient accès.</p>
<h6>Droits, obligation, responsabilité de l'utilisateur</h6>
<p>L’utilisateur déclare accepter les conditions générales d'utilisation propres à la plateforme L’éco-Clic. Il reconnaît disposer des matériels et logiciels conformes et adaptés pour l’utilisation de la plateforme.</p>
<p>Sous peine de suppression des comptes concernés, L’utilisateur s’engage à utiliser la plateforme pour ses propres besoins ou missions conformément aux présentes conditions générales d’utilisation.</p>
<p>L’Utilisateur est invité à signaler dans les meilleurs délais à l’OPSN tout incident de sécurité (piratage, vol de moyen d’authentification, usurpation d’identité, virus...) ou tout dysfonctionnement de l’outil qui nécessiterait de suspendre l’utilisation de son Compte utilisateur ou de prendre des précautions particulières.</p>
<p>L’Utilisateur reconnait que l’utilisation d’internet entraîne des risques de contamination par des virus et qu’en aucun cas une telle contamination peut être imputée à l’éditeur.</p>
<h6>Modalités relatives à l'utilisation de l'espace de discussion</h6>
<p>Il est prévu dans les développements de la plateforme la mise à disposition d’un espace de discussion ouvert aux utilisateurs, ainsi que l’implémentation d’une fonctionnalité permettant le dépôt de pièces sur la plateforme</p>
<p>Il est rappelé à ce titre que les utilisateurs doivent dans la mesure du possible restreindre la diffusion de données à caractère personnel dans les espaces de discussion. Ils ne doivent pas non plus poster des messages qui seraient contraires aux lois en vigueur et applicables sur le territoire français et aux bonnes mœurs.</p>
<p>L’éditeur et le fournisseur ne peuvent être tenus responsables des échanges sur les espaces de discussion.</p>
<p>En outre, les utilisateurs ne doivent déposer sur L’éco-clic que les pièces nécessaires et pertinentes compte-tenu de l’objet de la plateforme. Il est recommandé de restreindre dans la mesure du possible le dépôt de documents contenant des données à caractère personnel.</p>
<h4>FIN DE LA PRESTATION : SUPPRESSION/REVERSIBILITE</h4>
<p>Dans le cas où l’utilisateur souhaite mettre fin au service, les données seront supprimées de la plateforme. La réversibilité des données pourra être proposée.</p>
<h4>PROTECTION DES DONNEES A CARACTERE PERSONNEL</h4>
<p>L’association Déclic, sensible, du fait de son objet associatif, au numérique et à ses évolutions, accorde une importance toute particulière à la protection des données à caractère personnel et est soucieuse de respecter le cadre légal qui s’y attache, notamment le Règlement Général sur la Protection des Données 2016/679, entré en application le 25 mai 2018 (ci-après le "<b>RGPD</b>") et la Loi Informatique et Libertés de 1978 dans sa version modifiée.</p>
<p>A ce titre, cette clause a pour but de fournir aux utilisateurs une information précise et exhaustive sur l’utilisation qui sera faite de leurs données ainsi que leurs droits.</p>
<p>Dans le cadre de la mise à disposition de la Solution, l’utilisateur agit en tant que responsable de traitement des données personnelles qu’il intègre à la solution.</p>
<p>L’éditeur (par l’hébergement) et le fournisseur (par la gestion des comptes) interviennent à ce titre en tant que sous-traitants de l’utilisateur pour les données personnelles intégrées à la solution.</p>
<p>A cet effet, les sous-traitants s’engagent, pour la partie du traitement qui les concerne, à :</p>
<ul>
    <li>
        <p>traiter les données à caractère personnel uniquement sur instruction documentée du responsable du traitement et dans le cadre du déploiement et du bon fonctionnement de la Solution.</p>
    </li>
    <li>
        <p>veiller à ce que les personnes autorisées à traiter les données à caractère personnel s'engagent à respecter la confidentialité ou soient soumises à une obligation légale appropriée de confidentialité.</p>
    </li>
    <li>
        <p>prendre toutes les mesures requises en matière de sécurité du traitement conformément à l’article 32 du RGPD.</p>
    </li>
    <li>
        <p>informer le responsable de traitement en cas de recrutement d’un autre sous-traitant.</p>
    </li>
    <li>
        <p>tenir compte de la nature du traitement et aider le responsable du traitement par des mesures techniques et organisationnelles appropriées, dans toute la mesure du possible, à s'acquitter de son obligation de donner suite aux demandes dont les personnes concernées le saisissent en vue d'exercer leurs droits prévus au chapitre III du RGPD.</p>
    </li>
    <li>
        <p>aider le responsable du traitement à garantir le respect des obligations prévues aux articles 32 à 36 concernant la sécurité, la notification en cas de violation et la réalisation de l’analyse d’impact relative à la protection des données, compte tenu de la nature du traitement et des informations à la disposition du sous-traitant.</p>
    </li>
    <li>
        <p>selon le choix du responsable du traitement, supprimer toutes les données à caractère personnel ou les renvoyer au responsable du traitement au terme de la prestation de services relatifs au traitement, et détruire les copies existantes, à moins que le droit de l'Union ou le droit de l'État membre n'exige la conservation des données à caractère personnel.</p>
    </li>
    <li>
        <p>mettre à la disposition du responsable du traitement toutes les informations nécessaires pour démontrer le respect des obligations prévues au présent article et pour permettre la réalisation d'audits, y compris des inspections, par le responsable du traitement ou un autre auditeur qu'il a mandaté, et contribuer à ces audits.</p>
    </li>
    <li>
        <p>informer immédiatement le responsable du traitement si, selon lui, une instruction constitue une violation du présent règlement ou d'autres dispositions du droit de l'Union ou du droit des États membres relatives à la protection des données.</p>
    </li>
</ul>
<p>Il est rappelé aux Utilisateurs qu’ils disposent d’un droit d’accès, de rectification, de limitation et d’opposition au traitement ainsi que du droit de définir les directives sur le sort de leurs données post-mortem. Le droit à la portabilité ne s’applique pas dans ce cas.</p>
<p>Pour toute question relative à l’utilisation des données personnelles, vous pouvez contacter le délégué à la protection des données de l’OPSN vous accompagnant.</p>
<h4>DROIT APPLICABLE ET LITIGES</h4>
<p>Les présentes CGU sont soumises au droit français. En cas de différend, les parties s’engagent, avant tout recours juridictionnel, à rechercher une solution amiable. A défaut d’une telle solution, un recours pourra être engagé devant la juridiction compétente.</p>
