<p>
    <strong style="font-size: 16pt; color: rgb(0, 114, 180);">
        <em>Editeur </em>
    </strong>
</p>
    <strong style="font-size: 12pt;">Déclic </strong><br>
    <span style="font-size: 12pt;">4 place du Maréchal Lannes</span><br>
    <span style="font-size: 12pt;">32001</span><br>
    <span style="font-size: 12pt;">AUCH</span><br><br>
    <span style="font-size: 12pt;">Raison sociale&nbsp;: Déclic-Développement d'échanges entre collectivités locales en matière d'informations et de communications</span>
</p>

<span style="font-size: 12pt;">Association régie par la loi du 1</span><sup style="font-size: 12pt;">er</sup><span style="font-size: 12pt;"> juillet 1901.</span><br>
<span style="font-size: 12pt;">SIRET 881&nbsp;719&nbsp;736 00012 </span><br><br>
<span style="font-size: 12pt;">Courriel&nbsp;:&nbsp;</span>
<a href="mailto:contact@asso-declic.fr" rel="noopener noreferrer" style="font-size: 12pt; color: rgb(192, 195, 120);">contact@asso-declic.fr</a>

<p style="text-align: justify;"><br></p>
<p>
    <strong style="font-size: 16pt; color: rgb(0, 114, 180);">
        <em>Hébergement </em>
    </strong>
</p>
<p style="text-align: justify;">
    <span style="font-size: 12pt;">Les données de la solution sont hébergées sur les serveurs de la société OVH.</span>
</p>
<p style="text-align: justify;">
    <span style="font-size: 12pt;">Hébergeur : </span>
    <strong style="font-size: 12pt;">OVH</strong>
    <span style="font-size: 12pt;">, Société par actions simplifiée au capital de 10&nbsp;174 560 euros immatriculée au RCS de Lille Métropole sous le numéro Siren 424761419, située 2 rue Kellermann - 59100 Roubaix (tel : 0 820 698 765 - mail : support@ovh.com)</span>
</p>
<p style="text-align: justify;"><br></p>
<p>
    <strong style="font-size: 16pt; color: rgb(0, 114, 180);">
        <em>Crédits </em>
    </strong>
</p>
<p style="text-align: justify;">
    <span style="font-size: 12pt;">Cette solution a été développée avec le soutien de l'Incubateur des Territoires de l'Agence Nationale de la Cohésion des Territoires (ANCT) dans le cadre du plan France Relance. </span>
</p>
<div style="text-align: center;">
    <img style="width: 250px;" src="{{ asset('/img/anct.png') }}" alt="logo ANCT">
    <img style="width: 70px;" src="{{ asset('/img/frRelance.png') }}" alt="logo France Relance">
    <img style="width: 250px;" src="{{ asset('/img/UE.png') }}" alt="logo Union européenne">
</div>

<p style="text-align: justify;"><br></p>